# Temporarily ignore engine requirements
# This allows yarn to install packages even if Node version doesn't match
# TODO: Update Dockerfile to use Node 20+ to remove this workaround
ignore-engines true
